.row
  .col-sm-12
    .text-center
      .about
        %h2.mb5 Total (41)

        %h4 North America / Central America
        .li USA
        .li Canada
        .li Mexico
        .li Bahamas
        .li Puerto Rico
        .li Dominican Republic
        .li Haiti
        .li St Marteen
        .li Jamaica
        .li Cayman Islands
        .li Nicaragua

        %h4 Europe
        .li Spain
        .li Italy
        .li Croatia
        .li Bosnia/Herzegovina
        .li Greece
        .li Czech Republic
        .li Germany
        .li France
        .li Netherlands
        .li Austria
        .li Slovenia
        .li Turkey
        .li Poland
        .li England
        .li Bulgaria

        %h4 Africa
        .li Egypt
        .li Morocco
        .li Israel

        %h4 Asia
        .li Thailand
        .li Malaysia
        .li Vietnam
        .li Japan

        %h4 Australasia
        .li Australia
        .li New Zealand
        .li Fiji

        %h4 South America
        .li Argentina
        .li Uruguay
        .li Chile
        .li Peru
        .li Colombia

        %h4 Airport Layovers
        .li Qatar
        .li China
        .li Switzerland
        .li UAE
        .li Costa Rica
        .li Panama
