.main
  .row
    .col-sm-6.col-sm-offset-3
      .about
        .ul
          .li June 7 - June 23: Bogota, Colombia
          .li June 23 - July 2: Prescott, Arizona
          .li July 2 - Early August: Chicago
          .li Afterwards: Parts Unknown

        %p
          = link_to 'Countries I Have Been To', countries_path


