@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

a.no-decoration {
  text-decoration: none;
}

.nav {
  background: black;
  width: 100%;
  font-family: cursive;

  h1 { 
    color: white;
    margin: 0px;
    margin-top: 10px;
    font-size: 72px;
  }

  h3 { 
    color: white;
    margin: 0px;
    margin-top: 20px;
    font-size: 24px;
  }

  height: 170px;
}








h1 {
  font-weight: normal;
  font-size: 55px;
}

h3 {
  font-size: 30px;
}

.prof-image {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background: image-url('me.png') no-repeat;
  margin-left: 60px;
}

.nav-link a {
  text-decoration: none;
}

.main {
  .about {
    font-size: 17px;
    @media (min-width: 768px) {
      padding: 40px;
      margin-top: -10px;
    }

    p {
      padding: 10px 0;
    }
  }
}

.blog-content {
  font-size: 16px;
}

.mb0 { margin-bottom: 0; }
.mtn10 { margin-top: -10px; }